<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include  bootstrap %> 
</head>
<body>
    <%- include layout %>
    <div class="container">
      <h1 class="text-center">Login Form</h1>
      <%- messages()  %> 
      <form class="form-group" action="/users/login" method="post">
        <div class="form-group">
            <label for="">Username :</label>
            <input class="form-control" type="text" name="username" value="">
        </div>
        <div class="form-group">
            <label for="">Password :</label>
            <input class="form-control" type="password" name="password" value="">
        </div>
        
        <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</body>
<script type="text/javascript">
    $('#messages').addClass('alert alert-danger')
</script>
</html>